<h5 class="text-center my-3">会員一覧</h5>
<div class="container">
  <div class="row px-5">
    <table class="table">
      <thead>
        <tr>
          <th>会員</th>
          <!--<th>会員ID</th>-->
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <% if customer.is_deleted == false %>
        <tr>
          <td id="customer-index-image"><%= image_tag customer.get_profile_image(500,500), class: "customer-index-image" %></td>
          <!--<td><%#= customer.id %></td>-->
          <td><%= customer.last_name %><%= customer.first_name %></td>
          <% if customer.email != "guest@example.com" %>
            <% if current_customer.id == customer.id %>
              <td><%= link_to "詳細", customer_path(customer.id), class: "btn my-3" %></td>
            <% end %>
          <% end %>
          <td></td>
        </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center my-2">
      <!--ページネーション-->
      <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>




