<div class="container">
  <div class="row">
    <div class="col-12">

      <h1>会員詳細</h1>
      <table>
        <thead>
          <tr>
            <th>プロフィール画像</th>
            <td><%= image_tag @customer.get_profile_image(100,100) %></td>
          </tr>
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th>氏名</th>
            <td><%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <th>自己紹介文</th>
            <td><%= @customer.introduction %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
        </thead>
      </table>
      <%= link_to "戻る", customers_path, class: "btn btn-success" %>
      <%= link_to "プロフィールを編集する", edit_customer_path(@customer.id), class: "btn btn-success" %>
    </div>
  </div>
</div>