<div class="container">
  <% if @camp_item.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@camp_item.errors.count, "") %> 件のエラーが出ました</h3>
    <ul>
      <% @camp_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <h5>キャンプアイテム編集</h5>
      <%= form_with model: @camp_item do |f| %>
        <h4>アイテム画像</h4>
          <%= f.file_field :camp_item_image, accept: "image/*" %>
        <h4>キャンプアイテム</h4>
          <%= f.text_field :name %>
        <h4>感想</h4>
          <%= f.text_area :impression %><br>
        <%= f.submit "更新", class: "btn btn-info mb-3" %>
      <% end %>
    </div>
    <div class="col-12 ">
      <%= link_to "戻る", camp_item_path(@camp_item.id), class: "btn btn-info" %>
    </div>
  </div>
</div>
