<div class="container">
  <h5 class="text-center my-3">キャンプアイテム一覧</h5>
  <div class="row">
    <div class="col-2 my-3">
    <!--タグ検索窓-->
      <%= form_tag camp_items_path, method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
           {
             prompt: 'アイテムを絞り込む',
             onchange: 'submit(this.form);'
           }
        %>
      <% end %>
    </div>
    <!--タグ検索窓-->
    <!--アイコン（新規投稿）-->
    <div class="col-2 icon ml-auto">
    <%= link_to new_camp_item_path, style: "font-size:35px;" do %>
      <i class="fas fa-campground" style="color: #638C0B;"></i>
    <% end %>
    </div>
    <!--アイコン（新規投稿）-->
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @camp_items.each do |camp_item| %>
      <div class="col mb-2">
        <div class="card h-100">
          <div id="img">
            <%= link_to camp_item_path(camp_item.id) do %>
              <%= image_tag camp_item.get_camp_item_image(500, 500), class: "index-img p-2" %>  <!--アイテム画像-->
            <% end %>
          </div>
          <div class="card-body">
            <div id="camp_item_<%= camp_item.id %>">
            <h5 class="card-title"><%= link_to camp_item.name, camp_item_path(camp_item.id) %></h5>  <!--アイテムの名前とshowページへのリンク-->
            <!--レビュー表示-->
            <div id="rate_<%= camp_item.id %>" class="form-group"></div>
            <script>
            // $(document).on('turbolinks:load', function() {
            // ターボリンクはいらない
              $('#rate_<%= camp_item.id %>').empty(); //星が増えていくため必要
              $('#rate_<%= camp_item.id %>').raty({
                size: 20,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= camp_item.rate %>
              });
            // });
            </script>
            <!--レビュー表示-->
            <!--いいね機能非同期-->
            <div class="favorite-btn">
              <%= render 'public/camp_item_favorites/favorite-btn', camp_item: camp_item %>
            </div>
            <!--いいね機能非同期-->
            投稿者：<%= camp_item.customer.last_name %><%= camp_item.customer.first_name %><br> <!--プロフィール画像と名前-->
            投稿日：<%= camp_item.created_at.strftime('%Y/%m/%d') %>
            <!--タグ検索-->
            <% camp_item.tags.each do |tag| %>
              <div class="tag-color">＃<%= link_to tag.name, camp_items_path(tag_id: tag.id), class: "link" %></div>
            <% end %>
            <!--ここまでタグ検索-->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center my-2">
      <!--ページネーション-->
      <%= paginate @camp_items, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>


