<h4 class="text-center">キャンプアイテム投稿フォーム</h4>
<div class="container d-flex justify-content-center">
  <% if @camp_item.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@camp_item.errors.count, "") %> 件のエラーが出ました</h3>
    <ul>
      <% @camp_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="col-12">
    <%= form_with model: @camp_item do |f| %>

      <h4>アイテム画像</h4>
      <%= f.file_field :camp_item_image, accept: "image/*" %>

      <h4>キャンプアイテム</h4>
      <%= f.text_field :name %>

      <h4>感想</h4>
      <%= f.text_area :impression %>

      <h4>星評価</h4>
      <div class="form-group" id="star">
        <%= f.label :rate, "星評価" %>
        <%#= f.hidden_field :rate, id: :review_star, class: 'form-control' %>
        <!--上の記述は、javascript側でhidden_fieldが読み込まれるためいらない-->
      </div>
      <!--タグ検索機能-->
      <div class="check_box">
        <p>タグ</p>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div>
            <%= tag.label do %>
              <%= tag.check_box %>
              <%= tag.text %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!--ここまでタグ検索機能-->
      <%= f.submit "投稿", class: "btn btn-success" %>
    <% end %>
    </div>
  </div>
</div>

 <script>
  //初回読み込み、リロード、ページ切り替えで動く。20行目 ページ切り替え時（初回ページも対象）//ページ切り替え後にさせたい処理を中に書く　手法でjQueryが動く．
  // $(document).on('turbolinks:load', function() {　ここの記述は、javascript側で書く
    // $('#star').empty();　//これがないとブラウザバックで星が増え続ける不具合が発生します。ページを表示する度に星5つを読み込むことになる
    $('#star').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      //half: false, 今回は５段階評価で星️半分評価は入力できないように設定
      scoreName: 'camp_item[rate]', //これがcamp_commentモデルのrateカラムへ値を保存という意味
      half: true
    });
  // });
  </script>