<h1>キャンプアイテム投稿フォーム</h1>
<%= form_with model: @camp_item do |f| %>

  <h4>アイテム画像</h4>
  <%= f.file_field :camp_item_image, accept: "image/*" %>

  <h4>キャンプアイテム</h4>
  <%= f.text_field :name %>

  <h4>感想</h4>
  <%= f.text_area :impression %>

  <h4>星評価</h4>
  <div class="form-group" id="star">
    <%= f.label :rate, "星評価" %>
    <%#= f.hidden_field :rate, id: :review_star, class: 'form-control' %>
    <!--上の記述は、javascript側でhidden_fieldが読み込まれるためいらない-->
  </div>

  <%= f.submit "投稿" %>
<% end %>

 <script>
  //初回読み込み、リロード、ページ切り替えで動く。20行目 ページ切り替え時（初回ページも対象）//ページ切り替え後にさせたい処理を中に書く　手法でjQueryが動く．
  // $(document).on('turbolinks:load', function() {　ここの記述は、javascript側で書く
    // $('#star').empty();　//これがないとブラウザバックで星が増え続ける不具合が発生します。ページを表示する度に星5つを読み込むことになる
    $('#star').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      //half: false, 今回は５段階評価で星️半分評価は入力できないように設定
      scoreName: 'camp_item[rate]', //これがcamp_commentモデルのrateカラムへ値を保存という意味
      half: true
    });
  // });
  </script>