<h1>キャンプアイテム詳細</h1>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table>
        <tbody>
          <tr>
            <td>アイテム画像</td>
            <td><%= image_tag @camp_item.get_camp_item_image(200, 200) %></td>
          </tr>
          <tr>
            <td>キャンプアイテム</td>
            <td><%= @camp_item.name %></td>
          </tr>
          <tr>
            <td>感想</td>
            <td><%= @camp_item.impression %></td>
          </tr>
          <tr>
            <td>投稿日:</td>
            <td><%= @camp_item.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td><%= link_to "削除", camp_item_path(@camp_item.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
            <td><%= link_to "戻る", camp_items_path %></td>
            <td><%= link_to "編集", edit_camp_item_path(@camp_item.id) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>