<div class="container">
<h5>キャンプアイテム詳細</h5>
  <div class="row">
    <div class="col-md-6">
      <div><%= image_tag @camp_item.get_camp_item_image(200, 200) %></div>
      <div><%= @camp_item.name %></div>
      <div>
        <!--星の表示-->
        <div id="rate_<%= @camp_item.id %>" class="form-group"></div>
        <!--ここまで星表示の記述-->
      </div>
      <!--いいね機能の非同期通信-->
      <div id="camp_item_<%= @camp_item.id %>" >
        <div class="favorite-btn">
          <%= render 'public/camp_item_favorites/favorite-btn', camp_item: @camp_item %>
        </div>
      </div>
      <!--コメント機能非同期通信-->
      <div id="comments_number">
        <%= render 'public/camp_item_comments/number', camp_item: @camp_item %>
      </div>
      <div>投稿者:<%= @camp_item.customer.last_name %><%= @camp_item.customer.first_name %></div>
      <div>感想:<%= @camp_item.impression %></div>
      <div>投稿日:<%= @camp_item.created_at.strftime('%Y/%m/%d') %></div>
      <!--タグ表示-->
      <div>
        <% @camp_item.tags.each do |tag| %>
          ＃<%= tag.name %>
        <% end %>
      </div>
      <!--タグ表示ここまで-->
    <%= link_to "戻る", camp_items_path, class: "btn btn-info" %>
    <% if @camp_item.customer == current_customer %>
      <%= link_to "削除", camp_item_path(@camp_item.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-info" %>
      <%= link_to "編集", edit_camp_item_path(@camp_item.id), class: "btn btn-info" %>
    <% end %>
    </div>
    <!--コメント機能非同期通信-->
    <div class="col-md-6">
      <div id="comments_area">
        <%= render 'public/camp_item_comments/comment', camp_item: @camp_item %>
      </div>
      <!--formは固定(部分テンプレートは用意しない)-->
      <div id="comments_form">
        <%= form_with model: [@camp_item, @camp_item_comment], local: false do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する", class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
// $(document).on('turbolinks:load', function() {
// ターボリンクはいらない
  // $('#rate_%= camp_comment.id %>').empty();
  $('#rate_<%= @camp_item.id %>').raty({
    size: 20,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @camp_item.rate %>
  });
// });
</script>
