<h1>キャンプアイテム詳細</h1>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table>
        <tbody>
          <tr>
            <td>投稿者:</td>
            <td><%= @camp_item.customer.last_name %><%= @camp_item.customer.first_name %></td>
          </tr>
          <tr>
            <td>アイテム画像:</td>
            <td><%= image_tag @camp_item.get_camp_item_image(200, 200) %></td>
          </tr>
          <tr>
            <td>キャンプアイテム:</td>
            <td><%= @camp_item.name %></td>
          </tr>
          <tr>
            <td>感想:</td>
            <td><%= @camp_item.impression %></td>
          </tr>
          <tr>
            <!--タグ表示-->
            <td>タグ：</td>
            <td>
              <% @camp_item.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </td>
            <!--タグ表示ここまで-->
          </tr>
          <tr>
            <td>投稿日:</td>
            <td><%= @camp_item.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td><%= link_to "削除", camp_item_path(@camp_item.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-success" %></td>
            <td><%= link_to "戻る", camp_items_path, class: "btn btn-success" %></td>
            <td><%= link_to "編集", edit_camp_item_path(@camp_item.id), class: "btn btn-success" %></td>
          </tr>
          <tr>
            <td>
              <!--星の表示-->
              <h4 class="mb-3">評価：<%= @camp_item.rate %></h4>
              <div id="rate_<%= @camp_item.id %>" class="form-group"></div>
              <!--ここまで星表示の記述-->
            </td>
          </tr>
          <!--いいね機能の非同期通信-->
          <tr id="camp_item_<%= @camp_item.id %>" >
            <td class="favorite-btn">
              <%= render 'public/camp_item_favorites/favorite-btn', camp_item: @camp_item %>
            </td>
          </tr>
          <tr>
            <!--コメント機能-->
            <td id="comments_number">
              <%= render 'public/camp_item_comments/number', camp_item: @camp_item %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <div id="comments_area">
        <%= render 'public/camp_item_comments/comment', camp_item: @camp_item %>
      </div>
      <div id="comments_form">
        <%= render 'public/camp_item_comments/form', camp_item: @camp_item, camp_item_comment: @camp_item_comment %>
      </div>
    </div>
  </div>
</div>


<script>
// $(document).on('turbolinks:load', function() {
// ターボリンクはいらない
  // $('#rate_%= camp_comment.id %>').empty();
  $('#rate_<%= @camp_item.id %>').raty({
    size: 20,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @camp_item.rate %>
  });
// });
</script>

