<div class="container d-flex justify-content-center my-4">
  <div class="card card-container">
    <img id="login_img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <label><%= f.label :メールアドレス %></label>
        <div><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      </div>

      <div class="field">
        <label><%= f.label :パスワード %></label>
        <div><%= f.password_field :password, autocomplete: "current-password" %></div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
        </div>
      <% end %>

      <div class="actions d-flex justify-content-center">
        <%= f.submit "ログイン", class: "btn" %>
      </div>
    <% end %>
    <%= render "admin/shared/links" %>
  </div><!-- /card-container -->
</div><!-- /container -->
