<div class="container">
  <h2 class="text-center">ようこそ!TheCampへ!</h2>
  <h6 class="text-center">ログイン後にキャンプ場の詳細を確認できます。</h6>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12">
      <div class="card mb-3 ">
        <div class="card-header">
          <h5 class="text-center">サイトについて</h5>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <h6>
              こちらのサイトでは、Google Mapでキャンプ場の場所・口コミの情報確認、口コミの評価順・地方ごとにキャンプ場を検索することができます。
              また、お気に入りのキャンプアイテムを投稿し、他の会員と共有することで、思い出を作ることや情報共有することができます。<br>
              気軽に情報確認等でサイトをお使いください。
            </h6>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h4 class="text-center">口コミ人気ランキング<i class="fas fa-crown fa-2x" style="color: #FFD700;"></i></h4>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @camps.each_with_index do |camp, i| %>
      <div class="col mb-2">
        <div class="card h-100">
          <span class="position-absolute top-0 translate-middle fw-bold fa-stack">
           <% if i == 0 %>
              <i class="fas fa-crown fa-3x" style="color: #FFD700;"></i>
            <% elsif i == 1 %>
              <i class="fas fa-crown fa-3x" style="color: #B9C3C9;"></i>
            <% elsif i == 2 %>
              <i class="fas fa-crown fa-3x" style="color: #C47022;"></i>
            <% end %>
            <i class="position-absolute top-0 text-white fa-stack-1x ranking-number"><%= "#{i+1}" %></i>
            </span>
          <div id="camp-img">
            <%= link_to camp_path(camp.id) do %>
              <%= image_tag camp.get_camp_image(500, 500), class: "camp-index-img p-2" %>
            <% end %>
          </div>
          <div class="card-body">
            <div id="camp_<%= camp.id %>">
            <h5 class="card-title"><%= link_to camp.name, camp_path(camp.id) %></h5>
            <!--星の平均-->
            <% if camp.get_camp_review_avg != -1 %>
              <div id="star_rate_<%= camp.id %>" class="form-group"></div>
              <script>
              // ターボリンクはいらない
                // $('#rate_<%#= @camp.get_camp_review_avg %>').empty();
                $('#star_rate_<%= camp.id %>').raty({
                  size: 20,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= camp.get_camp_review_avg %>
                });
              </script>
            <% end %>
            <!--星の平均-->
            <i class="fas fa-phone" style="color: #638C0B;"></i> <%= camp.phone_number %><br>
            <i class="fas fa-map" style="color: #638C0B;"></i> <%= camp.area_i18n %><br>
            <i class="fas fa-map-marker-alt" style="color: #638C0B;"></i> <%= camp.address %><br>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

