<div class="container d-flex justify-content-center">
  <%= render "layouts/errors", obj: @customer %>
</div>
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-12">
    <h5 class="text-center my-3">管理者側会員編集</h5>
  </div>
  <div class="row">
    <div class="col-12">
    <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>

      <div class="form-group row">
        <label class="col-md-4 col-form-label">会員ID：<%= @customer.id %></label>
      </div>

      <div class="form-group row">
        <label class="col-md-4 col-form-label">画像</label>
        <div class="col-md-8"><%= f.file_field :profile_image, accept: "image/*", class: "w-100" %></div>
      </div>

      <div class="form-group row">
        <label class="col-md-4 col-form-label">氏名</label>
        <div class="col-md-8"><%= f.text_field :last_name, autofocus: true, placeholder: "姓", size: 25, class: "my-2" %><%= f.text_field :first_name, placeholder: "名", size: 25 %></div>
      </div>

      <div class="form-group row">
        <label class="col-md-4 col-form-label">フリガナ</label>
        <div class="col-md-8"><%= f.text_field :last_name_kana, autofocus: true, placeholder: "セイ", size: 25, class: "my-2" %><%= f.text_field :first_name_kana, placeholder: "メイ", size: 25 %></div>
      </div>

      <div class="form-group row">
        <label class="col-md-4 col-form-label">自己紹介</label>
        <div class="col-md-8"><%= f.text_area :introduction, placeholder: "初めまして", size: 25 %></div>
      </div>

      <div class="form-group row">
        <label class="col-md-4 col-form-label">メールアドレス</label>
        <div class="col-md-8"><%= f.email_field :email, autocomplete: "email", placeholder: "test@example.com", size: 25  %></div>
      </div>

      <div class="form-group row">
        <label class="col-md-4 col-form-label">会員ステータス</label>
        <div class="col-md-8"><%= f.radio_button :is_deleted, false %>有効<%= f.radio_button :is_deleted, true %>退会</div>
      </div>

     <div class="form-group" align="center">
        <%= f.submit "編集内容を保存", class: "btn" %>
      </div>
    <% end %>
    </div>
  </div>
</div>