<h1>管理者側会員一覧</h1>
<h1>会員一覧</h1>
<table>
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= image_tag 'no_image.jpeg', size: "100x100"  %></td>
      <td><%= customer.id %></td>
      <td><%= customer.last_name %><%= customer.first_name %></td>
      <td><%= customer.email %></td>
      <td><%= link_to "詳細へ", admin_customer_path(customer.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>