<div class="container my-3">
  <h5 class="text-center my-3">管理者側会員一覧</h5>
  <div class="row">
    <div class="table-responsive">
      <table class="table-striped table">
        <thead>
          <tr>
            <th>会員</th>
            <th>ID</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td id="customer-img">
              <%= image_tag customer.get_profile_image(70,70), class: "customer-index-img p-2"  %><br>
              <%= customer.last_name %><%= customer.first_name %>
            </td>
            <td><%= customer.id %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == false %>
              　有効会員
            　<% else %>
              　退会済み
            　<% end %>
            </td>
            <td><%= link_to "詳細", admin_customer_path(customer.id), class: "btn my-3" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center my-2">
      <!--ページネーション-->
      <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>