<div class="container my-3 px-5">
  <h5 class="text-center my-3">管理者側会員一覧</h5>
  <div class="row px-5">
    <table class="table">
      <thead>
        <tr>
          <th class="col-2">プロフィール</th>
          <th class="col-2">会員ID</th>
          <th class="col-2">氏名</th>
          <th class="col-2">メールアドレス</th>
          <th class="col-2">ステータス</th>
          <th class="col-2"></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= image_tag customer.get_profile_image(70,70) %></td>
          <td><%= customer.id %></td>
          <td><%= customer.last_name %><%= customer.first_name %></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted == false %>
            　有効会員
          　<% else %>
            　退会済み
          　<% end %>
          </td>
          <td><%= link_to "詳細", admin_customer_path(customer.id), class: "btn btn-info my-3" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center my-2">
      <!--ページネーション-->
      <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>