<h5 class="text-center my-3">管理者側会員詳細</h5>
<div class="container d-flex justify-content-center">
  <div class="card h-100" style="width: 300px;">
    <div id="profile-img"><%= image_tag @customer.get_profile_image(500,500), class: "show-img p-2" %></div>
    <div class="card-body">
      <h5 class="card-title">プロフィール</h5>
      <p class="card-text">会員ID：<%= @customer.id %></p>
      <p class="card-text">氏名：<%= @customer.last_name %><%= @customer.first_name %></p>
      <p class="card-text">自己紹介:<%= simple_format(@customer.introduction) %></p>
      <p class="card-text">メールアドレス：<%= @customer.email %></p>
      <p class="card-text">
        会員ステータス：
        <% if @customer.is_deleted == false %>
          有効
        <% else %>
          退会済み
        <% end %>
      </p>
      <% if @customer.email != "guest@example.com" %>
        <%= link_to "プロフィールを編集する", edit_admin_customer_path(@customer.id), class: "btn my-2 d-flex justify-content-center" %>
      <% end %>
      <%= link_to "戻る", admin_customers_path, class: "btn d-flex justify-content-center" %>
    </div>
  </div>
</div>