<h5 class="text-center my-3">アイテムの口コミ詳細</h5>
<div class="container d-flex justify-content-center">
  <div class="col-12">
  <div class="row">
    <div class="col-3 mb-3">
      <div id="comment-user-image">
      <%= image_tag @camp_item_comment.customer.get_profile_image(500,500), class: "comment-show" %>
      </div>
      <div>
        <i class="fas fa-user" style="color: #638C0B;"></i><%= @camp_item_comment.customer.last_name %><%= @camp_item_comment.customer.first_name %><br>
      </div>
      <div>
        <%= @camp_item_comment.created_at.strftime('%Y/%m/%d') %>
      </div>
      <%= link_to "削除", admin_camp_item_camp_item_comment_path(@camp_item_comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn" %>
    </div>
    <div class="col-9 mb-3 user-comment-field">
      <div class="user-comment"><%= simple_format(@camp_item_comment.comment) %></div>
    </div>
  </div>
  </div>
</div>