<h5 class="text-center">キャンプ場口コミ詳細</h5>
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-12">
      <%= image_tag @camp_comment.customer.get_profile_image(100,100) %><br>
      コメント者：<%= @camp_comment.customer.last_name %><%= @camp_comment.customer.first_name %><br>
      タイトル：<%= @camp_comment.title %><br>
      コメント内容：<%= @camp_comment.comment %><br>
      投稿日：<%= @camp_comment.created_at.strftime('%Y/%m/%d') %><br>
      <!--星の表示-->
      <h4 class="mb-3">評価：<%= @camp_comment.rate %></h4>
      <div id="rate_<%= @camp_comment.id %>" class="form-group"></div>
      <script>
      // $(document).on('turbolinks:load', function() {
      // ターボリンクはいらない
        $('#rate_<%= @camp_comment.id %>').empty(); // これをつけないと星が増え続ける
        $('#rate_<%= @camp_comment.id %>').raty({
          size: 20,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= @camp_comment.rate %>
        })
      // });
      </script>
      <%= link_to "削除する", admin_camp_camp_comment_path(@camp_comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-info" %>
    </div>
  </div>
</div>