<div class="container">
  <h4>キャンプ場一覧</h4>
  <div class="row">
    <div class="col-10"></div>
    <!--キャンプ場のエリア絞り込み表示機能-->
    <div class="col-2 my-2">
      <%= form_tag(camps_path, method: "get", class: 'boards__searchForm') do %>
        <%= select_tag :area, options_for_select(Camp.areas_i18n.invert, selected: @value), { prompt: 'エリア', onchange: 'submit(this.form);' } %>
      <% end %>
    </div>
    <!--ここまで絞り込み表示機能-->
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>キャンプ場名</th>
          <th>電話番号</th>
          <th>エリア</th>
          <th>住所</th>
          <th>レビュー</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @camps.each do |camp| %>
        <tr id="camp_<%= camp.id %>">
          <td><%= camp.name %></td>
          <td><%= camp.phone_number %></td>
          <td><%= camp.area_i18n %></td>
          <td><%= camp.address %></td>
          <td>
          <!--星の平均-->
          <% if camp.get_camp_review_avg != -1 %>
            <%= camp.get_camp_review_avg %>
          <% end %>
          <!--星の平均-->
          </td>
          <td class="favorite-btn">
          <!--いいね機能非同期-->
            <%= render 'public/camp_favorites/favorite-btn', camp: camp %>
          </td>
          <td><%= link_to "詳細へ", camp_path(camp.id), class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



