<div class="container">
  <h5 class="text-center my-3">キャンプ場一覧</h5>
  <div class="row">
    <!--星の順番-->
    <div class="col-9 my-2">
      <%= link_to '口コミの高い順', camps_path(rate_count: "true"), class: "link" %><!--平均の評価の高い順-->
      |
      <%= link_to '口コミの低い順', camps_path(rate_asc_count: "true"), class: "link" %><!--平均の評価の低い順-->
    </div>
    <!--星の順番-->
    <!--キャンプ場のエリア絞り込み表示機能-->
    <div class="col-2 my-2 cp_ipselect cp_sl04">
      <%= form_tag(camps_path, method: "get", class: 'boards__searchForm') do %>
        <%= select_tag :area, options_for_select(Camp.areas_i18n.invert, selected: @value), { prompt: 'エリア', onchange: 'submit(this.form);' } %>
      <% end %>
    </div>
    <!--ここまで絞り込み表示機能-->
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @camps.each do |camp| %>
      <div class="col mb-2">
        <div class="card h-100">
          <div id="camp-img">
            <%= link_to camp_path(camp.id) do %>
              <%= image_tag camp.get_camp_image(500, 500), class: "camp-index-img p-2" %>
            <% end %>
          </div>
          <div class="card-body">
            <div id="camp_<%= camp.id %>">
            <h5 class="card-title"><%= link_to camp.name, camp_path(camp.id) %></h5>
            <!--星の平均-->
            <% if camp.get_camp_review_avg != -1 %>
              <div id="star_rate_<%= camp.id %>" class="form-group"></div>
              <script>
              // ターボリンクはいらない
                // $('#rate_<%#= @camp.get_camp_review_avg %>').empty();
                $('#star_rate_<%= camp.id %>').raty({
                  size: 20,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= camp.get_camp_review_avg %>
                });
              </script>
            <% end %>
            <!--星の平均-->
            <!--いいね機能非同期-->
            <div class="favorite-btn">
              <%= render 'public/camp_favorites/favorite-btn', camp: camp %>
            </div>
            <!--いいね機能非同期-->
            <i class="fas fa-phone" style="color: #638C0B;"></i> <%= camp.phone_number %><br>
            <i class="fas fa-map" style="color: #638C0B;"></i> <%= camp.area_i18n %><br>
            <i class="fas fa-map-marker-alt" style="color: #638C0B;"></i> <%= camp.address %><br>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center my-2">
      <!--ページネーション-->
      <%= paginate @camps, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
