<div class="container">
  <div class="row">
    <h1>キャンプ場一覧</h1>
    <%= form_tag(camps_path, method: "get", class: 'boards__searchForm') do %>
      <%= select_tag :area, options_for_select(Camp.areas_i18n.invert, selected: @value), { prompt: 'アイテムを絞り込む', onchange: 'submit(this.form);' } %>
    <% end %>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>キャンプ場名</th>
          <th>電話番号</th>
          <th>エリア</th>
          <th>住所</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @camps.each do |camp| %>
        <tr id="camp_<%= camp.id %>">
          <td><%= camp.name %></td>
          <td><%= camp.phone_number %></td>
          <td><%= camp.area_i18n %></td>
          <td><%= camp.address %></td>
          <td class="favorite-btn">
          <!--いいね機能非同期-->
            <%= render 'public/camp_favorites/favorite-btn', camp: camp %>
          </td>
          <td><%= link_to "詳細へ", camp_path(camp.id), class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



