<div class="container">
  <h2>会員新規登録</h2>
  <div class="row">
    <div class="col-12">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field row">
          <div class="col-3"><%= f.label :名前 %></div>
          <div class="col-1"><%= f.label :（姓） %></div>
          <div class="col-3"><%= f.text_field :last_name, autofocus: true, placeholder: "田中", size: 25 %></div>
          <div class="col-1"><%= f.label :（名） %></div>
          <div class="col-3"><%= f.text_field :first_name, placeholder: "太朗", size: 25 %></div>
        </div>

        <div class="field row">
          <div class="col-3"><%= f.label :フリガナ %></div>
          <div class="col-1"><%= f.label :（セイ） %></div>
          <div class="col-3"><%= f.text_field :last_name_kana, placeholder: "タナカ", size: 25 %></div>
          <div class="col-1"><%= f.label :（メイ） %></div>
          <div class="col-3"><%= f.text_field :first_name_kana, placeholder: "タロウ", size: 25 %></div>
        </div>

        <div class="field row">
          <div class="col-3"><%= f.label :メールアドレス %></div>
          <div class="col-3 offset-1"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "test@example.com", size: 25  %></div>
        </div>

        <div class="field row">
          <div class="col-3">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </div>
          <div class="col-3 offset-1"><%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力してください", size: 25 %></div>
        </div>

        <div class="field row">
          <div class="col-3"><%= f.label :パスワード %></div>
          <div class="col-3 offset-1"><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを入力してください", size: 25 %></div>
        </div>

        <div class="actions row d-flex justify-content-center">
          <%= f.submit "新規登録", class: "btn btn-info col-3 offset-4"  %>
        </div>
      <% end %>

      <div class="row d-flex justify-content-center">
        <div class="col-3 off-set-5">
          <h6 class="pass">既に登録済みの方</h6>
          <p><%= render "public/shared/links" %>からログインしてください</p>
        </div>
      </div>

    </div>
  </div>
</div>
