<div class="container">
  <h4 class="text-center">管理者キャンプアイテム一覧</h4>
  <div class="row">
    <div class="col-9"></div>
    <div class="col-2 my-3">
    <!--タグ検索窓-->
      <%= form_tag admin_camp_items_path, method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
           {
             prompt: 'アイテムを絞り込む',
             onchange: 'submit(this.form);'
           }
        %>
      <% end %>
    </div>
    <!--タグ検索窓-->
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @camp_items.each do |camp_item| %>
      <div class="col">
        <div class="card h-100">
          <div id="img">
            <%= image_tag camp_item.get_camp_item_image(250, 250), class: "index-img p-2" %>  <!--アイテム画像-->
          </div>
          <div class="card-body">
            <div id="camp_item_<%= camp_item.id %>">
            <h5 class="card-title"><%= link_to camp_item.name, admin_camp_item_path(camp_item.id) %></h5>  <!--アイテムの名前とshowページへのリンク-->
            <%#= image_tag camp_item.customer.get_profile_image(50, 50) %><!--プロフィール画像と名前-->
            投稿者：
            <%= link_to admin_customer_path(camp_item.customer.id ) do %>
            <%= camp_item.customer.last_name %><%= camp_item.customer.first_name %><br>
            <% end %><!--プロフィール画像と名前-->
            感想：<%= camp_item.impression %><br> <!--感想-->
            いいね数:<%= camp_item.camp_item_favorites.count %><br>
            コメント件数：<%= camp_item.camp_item_comments.count %><br>
            <!--タグ検索-->
            <% camp_item.tags.each do |tag| %>
              タグ：<%= tag.name %>
            <% end %>
            <!--ここまでタグ検索-->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center my-2">
      <!--ページネーション-->
      <%= paginate @camp_items, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>