<div class="container">
<h5 class="text-center my-3">管理者アイテム詳細</h5>
  <div class="row">
    <div class="col-md-4">
      <div id="camp-item-image">
        <%= image_tag @camp_item.get_camp_item_image(200, 200), class: "camp-item-show" %>
      </div>
      <div><%= @camp_item.name %></div>
      <div>
        <!--星の表示-->
        <div id="rate_<%= @camp_item.id %>" class="form-group"></div>
        <!--ここまで星表示の記述-->
      </div>
      <div><i class="fas fa-user" style="color: #638C0B;"></i> <%= @camp_item.customer.last_name %><%= @camp_item.customer.first_name %></div>
      <div>感想:<%= simple_format(@camp_item.impression) %></div>
      <div>いいね数:<%= @camp_item.camp_item_favorites.count %></div>
      <div>投稿日:<%= @camp_item.created_at.strftime('%Y/%m/%d') %></div>
      <!--タグ表示-->
      <div>
        <% @camp_item.tags.each do |tag| %>
          ＃<%= tag.name %>
        <% end %>
      </div>
      <!--タグ表示ここまで-->
    <%= link_to "削除", admin_camp_item_path(@camp_item.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn" %>
    <%= link_to "戻る", admin_camp_items_path, class: "btn" %>
    </div>
    <!--コメント機能非同期通信-->
    <div class="col-md-8">
      <!--コメント機能非同期通信-->
      <div id="comments_number">
        <%= render 'public/camp_item_comments/number', camp_item: @camp_item %>
      </div>
      <div id="comments_area">
        <%= render 'public/camp_item_comments/comment', camp_item: @camp_item %>
      </div>
    </div>
  </div>
</div>

<script>
// $(document).on('turbolinks:load', function() {
// ターボリンクはいらない
  $('#rate_<%= @camp_item.id %>').empty();
  $('#rate_<%= @camp_item.id %>').raty({
    size: 20,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @camp_item.rate %>
  });
// });
</script>
