<div class="container">
  <div class="row d-flex justify-content-center">
  <h4 class="text-center">キャンプ場一覧</h4>
    <div class="col-2">
      <%= form_tag(admin_camps_path, method: "get", class: 'boards__searchForm') do %>
        <%= select_tag :area, options_for_select(Camp.areas_i18n.invert, selected: @value), { prompt: 'エリアから選ぶ', onchange: 'submit(this.form);' } %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-10"></div>
    <!--キャンプ場のエリア絞り込み表示機能-->
    <!--ここまで絞り込み表示機能-->
    <div class="icon col-2">
      <%= link_to  new_admin_camp_path(@camp), style: "font-size:40px;" do %>
        <i class="fas fa-map" style="color: green;"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>管理者ID</th>
          <th>キャンプ場名</th>
          <th>電話番号</th>
          <th>エリア</th>
          <th>住所</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @camps.each do |camp| %>
        <tr>
          <td><%= camp.admin_id %></td>
          <td><%= camp.name %></td>
          <td><%= camp.phone_number %></td>
          <td><%= camp.area_i18n %></td>
          <td><%= camp.address %></td>
          <td><%= link_to "詳細へ", admin_camp_path(camp.id), class: "btn btn-info" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center my-2">
      <!--ページネーション-->
      <%= paginate @camps, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
