<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">管理者キャンプ場詳細</label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming">Google Map</label>
  <input id="design" type="radio" name="tab_item">
  <label class="tab_item" for="design">口コミ一覧</label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag @camp.get_camp_image(350, 350) %>
        </div>
        <div class="col-md-6">
          <div>管理者ID：<%= @camp.admin_id %></div>
          <div>キャンプ場名:<%= @camp.name %></div>
          <div>電話番号:<%= @camp.phone_number %></div>
          <div>エリア:<%= @camp.area_i18n %></div>
          <div>住所:<%= @camp.address %></div>
          <div>コメント件数：<%= @camp.camp_comments.count %></div>
          <div>投稿日：<%= @camp.created_at.strftime('%Y/%m/%d') %></div>
          <% if @camp.get_camp_review_avg != -1 %>
          <!--星の平均-->
          <div>
            口コミ平均<div id="star_rate_<%= @camp_comment.id %>" class="form-group"></div>
            <script>
            // ターボリンクはいらない
              // $('#rate_<%#= @camp.get_camp_review_avg %>').empty();
              $('#star_rate_<%= @camp_comment.id %>').raty({
                size: 20,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= @camp.get_camp_review_avg %>
              });
            </script>
          </div>
          <% end %>
          <!--星の平均-->
          <%= link_to "戻る", admin_camps_path, class: "btn btn-info" %>
          <%= link_to "削除", admin_camp_path(@camp.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-info" %>
          <%= link_to "編集", edit_admin_camp_path(@camp.id), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <!--地図表示-->
      <div class="container d-flex justify-content-center p-2">
        <div class="row">
          <div class="col-md-12">
            <div id="map"></div>  <!--#mapの表示-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab_content" id="design_content">
    <div class="tab_content_description">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% @camp_comments.each do |camp_comment| %>
            <div class="col">
              <div class="card h-100">
                <div id="profile-img">
                  <%= image_tag camp_comment.customer.get_profile_image(500,500), class: "comment-img p-2" %>  <!--アイテム画像-->
                </div>
                <div class="card-body">
                  <div id="rate_<%= camp_comment.id %>" class="form-group"></div>
                  <script>
                  // $(document).on('turbolinks:load', function() {
                  // ターボリンクはいらない
                    $('#rate_<%= camp_comment.id %>').empty();
                    $('#rate_<%= camp_comment.id %>').raty({
                      size: 20,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: <%= camp_comment.rate %>
                    })
                  // });
                  </script>
                  コメント者：<%= camp_comment.customer.last_name %><%= camp_comment.customer.first_name %><br>
                  タイトル：<%= camp_comment.title %><br>
                  コメント内容：<%= camp_comment.comment %><br>
                  投稿日：<%= camp_comment.created_at.strftime('%Y/%m/%d') %><br>
                  <%= link_to "口コミ詳細へ", admin_camp_camp_comment_path(camp_comment.id), class: "btn btn-info" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!--コメント表示-->

      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-center my-2">
            <!--ページネーション-->
            <%= paginate @camp_comments, theme: 'twitter-bootstrap-4' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function initMap() {
// #latitude,longitudeから位置を特定
    var test ={lat: <%= @camp.latitude %>, lng: <%= @camp.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @camp.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

//  #Map上の指定した位置にピンを挿して表示する, // マーカーを立てる場所の緯度経度を指定
    var marker = new google.maps.Marker({
                  position: test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%=ENV['GOOGLE_MAP_API']%>&callback=initMap">
</script>

<style type="text/css">
  #map { height: 300px;
         width: 1000px;}
</style>