<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-6 col-md-6">
      <ul class="navbar-nav" style="flex-direction: row;">
        <% if customer_signed_in? %>
          <li class="nav-item">
            <%= link_to "アイテムギア一覧", camp_items_path %>
          </li>
          <li class="nav-item">
            <%= link_to "キャンプ場一覧", camps_path %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", customers_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "キャンプ場一覧", admin_camps_path %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admin_customers_path %>
          </li>
          <li class="nav-item">
            <%= link_to "キャンプギア", admin_camp_items_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Top", root_path %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_customer_registration_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_customer_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>