<!DOCTYPE html>
<html>
  <head>
    <title>TheCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main>
       <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12">
            <p id="notice"><%= notice %></p>
          </div>
        </div>
      </div>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row d-flex justify-content-center">
          <ul>
            <li class="list-inline-item">
              <%= link_to do %>
                <i class="fab fa-instagram-square fa-2x social-btn size"></i>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to do %>
                <i class="fab fa-facebook-square fa-2x social-btn size"></i>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to do %>
                <i class="fab fa-twitter-square fa-2x social-btn size"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="row d-flex justify-content-center">
          <p>© 2022 The Camp</p>
        </div>
      </div>
    </footer>
  </body>
</html>
